{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
{% if message %}
    <div><b><strong>{{ message }}</strong></b></div><br/>
{% endif %}
    <form action="{% url 'ency:edit-entry-path' title %}" method="POST">
        {% csrf_token %} 
        <p>
            <label for="new_content">Make the changes you want to "{{ title }}" and press Save</label>
            <p>Note! Do not change the first # heading of the contents</p>
        </p>
        {{ form }}
        <!--substituted hard coded form with a NewTaskForm class in 'encyclopedia/views.py'-->
        <input type="submit" value="Save Changes"/>
    </form>

{% endblock %}